*.a
*.sublime-project
*.sublime-workspace
.DS_Store
*.sln
*.suo
*.lib
*.exe
*.pdb
.dub
*.dll
examples/build
*.visualdproj
output_log.html
dub.selections.json
__test__library__
examples/image_io/image_io
examples/simplehttp/simplehttp
examples/simpleshader/simpleshader
